<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shippori+Antique+B1&family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&family=Playfair+Display&family=Abril+Fatface&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Italiana&family=Rasa:wght@300;400;500;600;700&family=Bodoni+Moda:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Codystar:wght@300;400&family=Comfortaa:wght@300;400;500;600;700&family=Righteous&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<br><br>
<p class="text-center"style="font-size:38px;font-weight:600;color:#DDDDDD;font-family: 'Roboto', sans-serif;">ClientForge</p>
<div class="container col-lg-5 col-md-6" style="margin-right:auto;margin-left:auto;">
  <div style="border:1px solid #EEEEEE;padding:25px;border-radius:15px;">
    <h2 class="text-center" style="font-weight:300;color:#6F6F6F "><i class="bi bi-person-circle"></i> <br>Login</h2>
    <hr style="color:#CCCCCC;border-width:2px">
    <div class="text-center" th:if="${param.logout}">
      <p style="color:green;font-weight:500;font-size:13px;">You're Logged Out, Login again</p>
    </div>
    <div class="text-center" th:if="${param.error}">
      <p style="color:red;font-weight:400;font-size:14px;">Invalid Email ID or Password</p>
    </div>
    <form action="#" th:action="@{/authenticateuser}" method="POST">
      <h6>Email</h6>
      <input class="form-control" type="email" name="username"  style="border-radius:50px;"required><br>
      <h6>Password</h6>
      <input class="form-control" type="password" name="password" style="border-radius:50px;"required><br>

      <button class="btn btn-primary"  style="width:100%;border-radius:50px;font-weight:600;"type="submit">Login</button>
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>